/* .taylor-swift-info {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .taylor-swift-info .div {
    background-color: #ffffff;
    height: 3529px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .taylor-swift-info .taylor-swift {
    height: 654px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 1440px;
  }
  
  .taylor-swift-info .title {
    height: 225px;
    left: -2px;
    position: absolute;
    top: 689px;
    width: 1448px;
  }
  
  .taylor-swift-info .overlap-group {
    background-color: #d9d9d999;
    height: 225px;
    position: relative;
    width: 1440px;
  }
  
  .taylor-swift-info .overlap {
    height: 116px;
    left: 52px;
    position: absolute;
    top: 28px;
    width: 1351px;
  }
  
  .taylor-swift-info .text-wrapper {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 72px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 20px;
    width: 1242px;
  }
  
  .taylor-swift-info .p {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 6px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
    width: 1345px;
  }
  
  .taylor-swift-info .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 1120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 61px;
  }
  
  .taylor-swift-info .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 58px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 144px;
    width: 1068px;
  }
  
  .taylor-swift-info .event-details {
    height: 310px;
    left: 56px;
    position: absolute;
    top: 946px;
    width: 1317px;
  }
  
  .taylor-swift-info .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 1313px;
  }
  
  .taylor-swift-info .taylor-swift-2 {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 60px;
    width: 1313px;
  }
  
  .taylor-swift-info .span {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .taylor-swift-info .text-wrapper-5 {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
  }
  
  .taylor-swift-info .text-wrapper-6 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
  }
  
  .taylor-swift-info .ticket-sales {
    height: 234px;
    left: 2px;
    position: absolute;
    top: 1291px;
    width: 1444px;
  }
  
  .taylor-swift-info .overlap-2 {
    background-color: #d9d9d999;
    height: 234px;
    position: relative;
    width: 1440px;
  }
  
  .taylor-swift-info .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 1313px;
  }
  
  .taylor-swift-info .taylor-swift-the {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 54px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 90px;
    width: 1313px;
  }
  
  .taylor-swift-info .text-wrapper-8 {
    font-weight: 600;
  }
  
  .taylor-swift-info .text-wrapper-9 {
    font-family: "Poppins-Regular", Helvetica;
  }
  
  .taylor-swift-info .text-wrapper-10 {
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
  }
  
  .taylor-swift-info .admission-policy {
    height: 371px;
    left: 0;
    position: absolute;
    top: 3158px;
    width: 1444px;
  }
  
  .taylor-swift-info .overlap-3 {
    background-color: #d9d9d999;
    height: 371px;
    position: relative;
    width: 1440px;
  }
  
  .taylor-swift-info .text-wrapper-11 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 1313px;
  }
  
  .taylor-swift-info .admission-to-show {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 66px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 102px;
    width: 1284px;
  }
  
  .taylor-swift-info .seat-map {
    height: 1488px;
    left: 53px;
    position: absolute;
    top: 1575px;
    width: 1327px;
  }
  
  .taylor-swift-info .seat-map-ticket {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 1325px;
  }
  
  .taylor-swift-info .seating-picture {
    height: 843px;
    left: 55px;
    object-fit: cover;
    position: absolute;
    top: 110px;
    width: 1204px;
  }
  
  .taylor-swift-info .category-table {
    height: 453px;
    left: 76px;
    object-fit: cover;
    position: absolute;
    top: 1035px;
    width: 1187px;
  }
   */