.payment {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.confirmation-title{
  margin-top: 1%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.confirmation-title img{
  grid-column-start: 1;
  width: 100%;
}

.taylor-swift-title{
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-details{
  border: 2px solid black;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 3%;
  padding-left: 3%;
  padding-top: 1%;

  display: grid;
  grid-template-columns: 50% 50%;
}

.card-details-payment{
  margin-top: 2%;
}

.payment .text-wrapper-2 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
}

.card-details{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 3%;
  margin-left: 3%;
}

.card-input-wrapper{
  background-color: #d9d9d999;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

input{
  background-color: transparent;
  border: none;
  height: 50px;
}

.payment-placement{
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 4%;
  display: flex;
  justify-content: flex-end;
}

.payment-button{
  background-color: black;
  border-radius: 15px;
  color: white;
  height:50px;
  width: 20%;
  
}

/* .payment .text-wrapper-6 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
}
  .payment .text-wrapper {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 30px;
    font-weight: 600;
    left: 75px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 901px;
  } */
  
  /* .payment .credit-card-number {
    height: 88px;
    left: 145px;
    position: absolute;
    top: 997px;
    width: 404px;
  }
  
  .payment .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .payment .overlap-group {
    background-color: #d9d9d999;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 400px;
  }
  
  .payment .number {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 26px;
    left: 15px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 0;
    position: relative;
    top: 12px;
    white-space: nowrap;
    width: 73px;
  }
  
  .payment .dateof-expiry {
    height: 88px;
    left: 633px;
    position: absolute;
    top: 991px;
    width: 304px;
  }
  
  .payment .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .payment .overlap {
    background-color: #d9d9d999;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 300px;
  }
  
  .payment .date {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 26px;
    left: 12px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 0;
    position: relative;
    top: 12px;
    white-space: nowrap;
    width: 43px;
  }
  
  .payment .CVV {
    height: 88px;
    left: 1008px;
    position: absolute;
    top: 991px;
    width: 204px;
  }
  
  .payment .CVV-wrapper {
    background-color: #d9d9d999;
    border-radius: 5px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 200px;
  }
  
  .payment .input {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    height: 26px;
    left: 12px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 0;
    position: relative;
    top: 12px;
    white-space: nowrap;
    width: 39px;
  }
  
  .payment .taylor-swift {
    height: 320px;
    left: 75px;
    position: absolute;
    top: 70px;
    width: 602px;
  }
  
  .payment .taylor-swift-title {
    height: 168px;
    left: 720px;
    position: absolute;
    top: 150px;
    width: 727px;
  }
  
  .payment .text-wrapper-4 {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 72px;
    left: 0;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 0;
    width: 663px;
  }
  
  .payment .p {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;

  }
  
  .payment .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
    width: 570px;
  } */

  