.queue{
  height: 100%;
  display: grid;
  grid-template-rows: 75% 15%;
  grid-template-columns: 15% 70% 15%;
}

.queue-banner{
  margin-top: 5%;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 50% 50%;
}

.queue-banner-details{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15%;
}

.queue-status{
  grid-column-start: 2;
  display: flex;
  text-align: center;
  justify-content: center;
}

.text-wrapper-7 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
}

.queue-number {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  height: 26px;
  letter-spacing: 0;
  line-height: 26px;
  padding: 0;
  white-space: nowrap;
}


/* .details {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .details .div {
    background-color: #ffffff;
    height: 1024px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  
  .details .text-wrapper {
    color: #000000;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    height: 72px;
    letter-spacing: 0;
    line-height: 24px;
    width: 663px;
  }
  
  .details .p {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    width: 718px;
  }
  

  .details .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }

  .details .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 3px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }



  .details .queue {
    height: 88px;
    left: 279px;
    position: absolute;
    top: 619px;
    width: 404px;
  }

  .details .queue-number {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    height: 26px;
    left: 5px;
    letter-spacing: 0;
    line-height: 26px;
    padding: 0;
    position: relative;
    top: 30px;
    white-space: nowrap;
    width: 55px;
  }
   */
  

  
  
  
  