.login{
  height: 100%;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 5% 5%;
  padding-top: 20px;
}

.login-format{
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
  display: grid;
  justify-content: center;
}

.login-form{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .email-address{
  padding-top: 3%;
  width: 75%;
}

.login .password{
  padding-top: 40px;
  width: 75%;
  padding-bottom: 50px;
}

.to-sign-up{
  grid-row-start: 3;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
}

.welcome-login{
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  justify-content: center;
}


.login .login-btm{
  margin-right: 275px;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  gap: 8px;
  height: 40px;
  padding: 12px 20px;

  justify-content: flex-start;
  transition: all 0.3s ease;
  background-color: black;
  color: white;

  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.login .sign-up-btm{
  cursor: pointer;
  padding-left: 1%;
}

.error {
  color: red;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  text-align: center;
  
}


/* Need do the error message css */
