.events-all{
  display: grid;
  height: 100%;
  grid-template-rows: 5% 95%;
}

.sub-nav-buttons{
  grid-row-start: 1;
  height: 100%;
}

.events-overview{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 50% 50%;
}

.image-div{
  width: 75%;
  height: 75%;
  margin: auto;
  align-items: center;
}

.title{
  grid-row-start: 2; 
}

.event-card{
  display:grid;
  grid-template-rows: 75% 25%;
  justify-items: center;
}

.event-image{
  height: 100%;
  width: 100%;
  object-fit: fill;
}
