.user-purchase{
    display: flex;
    justify-content: center;
    text-align: center;
}

.purchase-table{
    display: flex;
    border: 1px solid black;
    margin-bottom: 1%;
}

h1{
    text-align: center;
}
