.sign-up{
  background-color: white;
  height: 100%;
  width: 100%;
  display: grid;
  padding-top: 30px;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 80% 5% 5%;
}

.welcome-sign-up{
  grid-column-start: 2;
  padding-bottom: 50px;
}

.format{
  grid-column-start:2;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
}

.left-sign-ups{
  grid-column-start: 1;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 10px;
}

.right-sign-ups{
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  row-gap: 10px;
}

.left-sign-ups > .full-name{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-sign-ups > .email-address{
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-sign-ups > .password{
  grid-row-start: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-sign-ups > .contact{
  grid-row-start: 2;
}

.right-sign-ups > .confirm-password{
  grid-row-start: 3;
}

.login-here{
  display: flex;
  grid-row-start: 3;
  grid-column-start: 2;
}

.text-wrapper-2 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper-3 {
  color: #000000;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  padding-bottom: 10px;;
}

.input-wrapper {
  background-color: #d9d9d999;
  border-radius: 5px;
  height: 50px;
  width: 100%;
}

.data-input {
  background-color: transparent;
  border: none;
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 26px;
  padding-left: 15px;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
}

.sign-up .sign-up-btm{
  grid-row-start: 4;

  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;

  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;

  white-space: nowrap;

  background-color: black;
  color: white;
  padding: 10px;
  width: 6em;
  border-radius: 15px;
}

.text-wrapper-5 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
}

.login-btm{
  padding-left: 15px;
  cursor: pointer;
}
